<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket-Sobre Nosotros</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌱</text></svg>">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

</head>

<body>
    <div class="loader">
        <div class="spinner"></div>
    </div>
    <nav class="navbar">
        <a class="logo fade-in" href="../index.html"><img src="../img/icons/5f73264d-ac29-405f-b9c1-f260fcef1f6c.png"
                class="img-variant" alt="">EcoMarket</a>
        <div class="nav-links fade-in">
            <a href="../index.html">Inicio</a>
            <a href="../view/contacto.html">Contactanos</a>
            <a href="../view/productos.html">Productos</a>
            <a href="../view/sobre-nosotros.html">Sobre nosotros</a>

        </div>

        <div class="navuti float">
            <a href="#prueba"><img src="../img/icons/dfe90901-9c64-4e82-b8dc-46d0e0985f92.png" class="img" alt=""></a>
            <a href="#prueba2"><img src="..//img/icons/ce010b05-8bad-480f-b607-1b9903c16510.png" class="img" alt=""></a>
            <a href="#prueba2"><img src="../img/icons/b0927cc8-afe9-4941-a56f-2556ae8efa56 (1).png" class="img"
                    alt=""></a>
        </div>
    </nav>
    <header>

    </header>
    <main><br><br>
        

        <section class="slide-up">
            <h1 class="h1-primary">Acerca de Nosotros</h1>

            <p>En EcoMarket creemos que cada pequeña acción puede generar un gran impacto en el planeta.
                Nos dedicamos a ofrecer productos ecológicos y sostenibles que ayudan a reducir el impacto
                ambiental sin sacrificar calidad, funcionalidad ni estilo. Nuestro compromiso es promover
                un consumo más responsable y contribuir a la construcción de un futuro más verde para todos.</p> <br>
            <br>
        </section>

        <br>

        <section class="limit slide-up">
            <h1 class="h1-primary">Misión</h1>

            <p>Brindar productos ecológicos de alta calidad que fomenten hábitos de consumo responsables, ayudando a las
                personas
                y organizaciones a reducir su impacto ambiental y a adoptar prácticas más sostenibles en su vida diaria.
            </p>
            <br>
            <br>
        </section>

        <br>

        <section class="limit slide-up">
            <h1 class="h1-primary">Visión</h1>
            <p>Ser una empresa referente en la promoción de la sostenibilidad y el cuidado del medio ambiente,
                reconocida por ofrecer soluciones innovadoras que inspiren un cambio positivo en la sociedad y
                contribuyan a un planeta más saludable.</p> <br>
            <br>
        </section>

        <br>

        <section class="limit slide-up">

            <h1 class="h1-primary">Nuestros Valores</h1> <br><br>

            <p>
                <li><strong>Sostenibilidad:</strong> Promovemos prácticas responsables con el medio ambiente. <br></li>
                <br>
                <li> <strong>Compromiso:</strong> Trabajamos con dedicación para satisfacer las necesidades de nuestros
                    clientes. <br> </li>
                <br>
                <li> <strong>Innovación:</strong> Buscamos constantemente nuevas alternativas ecológicas y eficientes.
                    <br>
                </li>
                <br>
                <li> <strong> Calidad:</strong> Seleccionamos productos que cumplen altos estándares de funcionalidad y
                    durabilidad. <br> </li>
                <br>
                <li><strong>Responsabilidad Social:</strong> Creemos en generar un impacto positivo en nuestra comunidad
                    y en el entorno.
            </p>
            </li>
            <br><br>
            <br>
        </section>
        <br>
        <section class="limit">

            <h1 class="h1-primary">¿Por qué elegir EcoMarket?</h1> <br><br>
            <p>
                <li>Ofrecemos productos amigables con el medio ambiente.</li>
                <li>Fomentamos un estilo de vida más consciente y sostenible.</li>
                <li>Apoyamos la economía circular y el consumo responsable.</li>
                <li>Contribuimos a la reducción de residuos y al cuidado del planeta.</li>
                <li>Brindamos soluciones prácticas y modernas para un futuro más verde.</li>
                <li>Alternativas sostenibles para el día a día.</li>
                <li>Compromiso con la calidad y la satisfacción del cliente.</li>
                <li>Contribución activa al cuidado del planeta.</li>
            </p>

        </section>

        <br>



        <section>
            <div class="contacto-contenedor">
                <h2>INFORMACION DE CONTACTO</h2>
                <p class="contacto-descripcion">
                    ¿Tienes dudas o deseas realizar un pedido?
                    <strong>Estamos listos para ayudarte.</strong>
                    Contáctanos por cualquiera de estos medios.
                </p>

                <div class="contacto-opciones">

                    <a href="https://wa.me/573178804245" target="_blank" class="contacto-item fade-in">
                        <div class="contacto-info">
                            <span class="icon">📞</span>
                            <div>
                                <h4>WhatsApp</h4>
                                <span class="texto">+57 317 880 4245</span>
                            </div>
                        </div>
                        <span class="flecha">➜</span>
                    </a>
                    <a href="mailto:thomasandreyarevalo0@gmail.com" class="contacto-item fade-in">
                        <div class="contacto-info">
                            <span class="icon">✉️</span>
                            <div>
                                <h4>Correo Electrónico</h4>
                                <span class="texto">thomasandreyarevalo0@gmail.com</span>
                            </div>
                        </div>
                        <span class="flecha">➜</span>
                    </a>

                </div>
        </section>
    </main>
</body>

</html>